@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
  font-size: .95rem;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

.bg-green-1 {
  background-color: #3c9811;
}

.bg-green-2 {
  background-color: #287b00;
}

.bg-green-3 {
  background-color: #1c5600;
}

.bg-dark-gray {
  background-color: #364150;
}

.bg-dark-gray2 {
  background-color: #293545;
}

.bg-blue-green {
  background-color: #0d7357;
}

.bg-dark-blue-green {
  background-color: #005d43;
}

.bg-dark-red {
  background-color: #a4122f;
}

.body {
  max-width: 1440px;
  margin: auto;
}

.header {
  height: 3rem;
  max-width: 1440px;
  padding: 0 3rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* overflow: hidden; */
}

@media (max-width: 550px) {
  .header {
    padding: 0 1rem 0 0.3rem;
  }
}

.header-logo {
  height: 45px;
}

.header-texts {
  margin-top: 0.3rem;
  color: #0b2450;
}

@media (max-width: 800px) {
  .header-texts {
    font-size: 3vw;
  }
}

.page-content {
  display: flex;
  background-color: #e1e1e1;
}

.nav-links {
  /* min-width: 12rem; */
  min-height: calc(100vh - 3rem);
  background-color: #364150;
  color: #eeeeee;
}

.nav-links nav ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin-top: 3rem;
}

.nav-links nav ul li {
  text-align: left;
  padding: .3rem 1rem .3rem 1rem;
  margin: 0;
}

.nav-links nav ul li:hover {
  background-color: #293545;
  cursor: pointer;
}

li span:first-child {
  display: inline;
}

li span:nth-child(2) {
  display: none;
}

@media (max-width: 450px) {
  li span:first-child {
    display: none;
  }

  div.nav-links nav ul li {
    text-align: center;
    padding: .3rem 0;
    margin: 0;
  }
  
  li span:nth-child(2) {
    display: inline-block;
    width: 18vw;
    height: 2.5rem;
  }
}

.content {
  flex-grow: 1;
  padding: 0.4rem;
  background-color: #eeeeee;
}

.content-container {
  background: #ffffff;
  border: 2px solid rgba(25, 78, 170, 0.5);
  border-radius: 16px;
  padding: 0.3rem;
  overflow: hidden;
}

.content-header {
  padding: 0 2vw;
  border-bottom: 1px solid #a1a1a1;
  margin-bottom: 1rem;
}

.dropbtn {
  background-color: #2d8601;
  color: rgb(31, 31, 31);
  padding: 0.5rem;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button.dropbtn {
  color: rgb(204, 204, 204);
}

@media (max-width: 590px) {
  .dropbtn {
    font-size: 1rem;
  }
}

@media (max-width: 440px) {
  .dropbtn {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .dropbtn {
    font-size: 0.68rem;
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:first-child {
  background-color: #287b00;
}

.dropdown-content a:nth-child(2) {
  background-color: #a4122f;
}

/* Change color of dropdown links on hover */
.dropdown-content a:first-child:hover {
  background-color: #1d5800;
}

.dropdown-content a:nth-child(2):hover {
  background-color: rgb(134, 22, 44);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.org-list-nav ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
  border-radius: 20px;
}

@media (max-width: 300px) {
  .org-list-nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.org-list-nav ul li {
  padding: 0.1rem 0.5rem;
  background-color: #d3d3d3;
  margin: 0;
}

.org-list-nav ul li:hover {
  background-color: #3c9811;
  color: white;
  cursor: pointer;
}

/* voting */

.candidate-container {
  margin: 30vh 0;
  position: relative;
}

.candidate-position {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  width: 100%;
  height: 4rem;
  margin-bottom: 0.7rem;
  border-radius: 0.7rem;
  position: sticky;
  top: 0px;
  background-color: #20A29A;
}

.candidate-position-border {
  border-bottom: 2px dashed black;
  width: 100%;
}

.candidate {
  display: flex;
  flex-direction: row;
  padding: 0.9rem;
}

@media (max-width: 700px) {
  .candidate {
    flex-direction: column;
  }
}
.candidate-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 40%;

}

@media (max-width: 700px) {
  .candidate-details {
    width: 100%;
  }
}

.candidate-details-image {
  width: 10rem;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 50%;
}

.candidate-details-image img {
  width: 100%;
  height: 100%;
}

.candidate-details-name {
  text-align: center;
  border-radius: 0.4rem;
  margin-top: 1rem;

  background-color: 
  #4AB1AB;
  max-width: 15rem;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.candidate-details-partylist {
  text-align: center;
  border-radius: 0.4rem;
  margin-top: 1rem;
  background-color: 
  #578A87;
  max-width: 15rem;
  padding: 0.5rem 1rem;
}

.candidate-description {
  border-radius: 0.5rem;
  padding: 1.4rem;
  /* background-color: #3fc200; */
  background-color: 
  #98C3C0;

  width: 60%;
}

@media (max-width: 700px) {
  .candidate-description {
    margin-top: 1.5rem;
    width: 100%;
  }
}

.candidate-description p {
  text-align: justify;
  color: black;
}

.vote-section {
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  font-size: 1.8rem;
  width: 100%;
  background-color: #5f5f5f;
  position: sticky;
  bottom: 0px;
}

.vote-section label {
  color: white;
}

.graph {
  padding: 0;
  pointer-events: none;
  max-width: 80%;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .graph {
    position: relative;
    left: -10vw;
    min-width: 70vw;
    margin: 0 auto;
  }
}

.footer {
  padding: .1rem 2rem;
  background-color: #364150;
  color: white;
  font-size: .8em;
  border-top: 2px solid rgba(35, 35, 35, 0.583);
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}